<div class="container">
  <div class="row">
    <div class="offset-sm-2 col-sm-8">
      <div class="card text-blank border-0">
        <div class="card-body">
          <div class="card-title text-center">
            <h5>SignUp for Free</h5>
          </div>
          <div class="card-text">
            <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
              <div class="row mb-3">
                <div class="form-group col-sm-6">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="First Name"
                    formControlName="firstName"
                  />
                </div>

                <div class="form-group col-sm-6">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Last Name"
                    formControlName="lastName"
                  />
                </div>
              </div>
              <div 
                class="alert alert-danger"
                *ngIf="(!myForm.controls['firstName'].valid || !myForm.controls['lastName'].valid)
                && (myForm.controls['firstName'].touched || myForm.controls['lastName'].touched) "
                >
                First Name and Last Name are required.
              </div>
              <div class="form-group mb-3">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter your Email"
                  formControlName="email"
                />

                <small class="form-text text-muted"
                  >we'll never share your email with anyone else</small
                >
              </div>
              <div 
                class="alert alert-danger"
                *ngIf="myForm.controls['email'].touched && !myForm.controls['email'].valid"
                >
              A Valid Email is required.</div>
              <div class="form-group mb-3">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  formControlName="password"
                />
              </div>
              <div class="form-group mb-3">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Confirm Password"
                  formControlName="confirmPassword"
                />
              </div>

              <div 
                class="alert alert-danger"
                *ngIf="myForm.controls['password'].touched && !myForm.controls['password'].valid"
              >
                Password must be more then 8 characters long.
              </div>
              <div 
                class="alert alert-danger"
                *ngIf="(myForm.controls['confirmPassword'].errors != null || myForm.controls['confirmPassword'].errors == true) && myForm.controls['confirmPassword'].touched"
              >
                Password and Confirm Password must match.
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-warning btn-block" [disabled]="myForm.invalid">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
